<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>point</th>
    <th>id</th>

  </tr>
 
  <% @verifications.each do |verification| %>
    <tr>
      <td><%= verification.point %></td>
      <td><%=verification.student_id %> </td>
      <td><%= link_to 'Show', student_verification_path(:id =>verification) %></td>
       <td><%= link_to 'Destroy', student_verification_path(:id =>verification),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>