<div id="welcome">
<h2>Verify</h2>

<p>
  <strong>name:</strong>
  <%= @student.name %>
</p>
 
 <p>
  <%= link_to 'Verify Confirm', confirm_student_path(@student), class: 'btn btn-success' %>
  </p>

  </div>